@import '../../styles/variables.scss';

.closet-container {
    display: flex;
    padding: 10px 40px 40px 40px;
}

.closet-img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px;
    z-index: 1;
}

.closet-label {
    font-size: 24px;
    padding: 25px 0px 10px 0px;
}

.img-container {
    display: flex;
}

.closet-icon {
    margin-top: 70px;
    height: 30px;
    padding: 20px;
}

.add-wrapper {
    padding: 40px;
}

.form {
    padding: 40px 80px;
    font-size: 20px;
    color: $clr-blue;
}

.form-input {
    text-align: left;
    margin-bottom: 50px;
}

.rotator-next-img {
    height: 150px;
    border-radius: 10px;
    margin-top: 25px;
    margin-right: -100px;
    position: relative;
    right: 100px;
}

.rotator-prev-img {
    height: 150px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: -100px;
    position: relative;
    left: 100px;
}

.inventory-container {
    padding: 20px 0px 0px 0px;
}

.inventory-counter {
    padding: 10px;
    font-size: 20px;
    color: $clr-blue;
}