@import '../../styles/variables.scss';

.closet-container {
    display: flex;
    padding: 40px;
}

.closet-column {
    flex: 1;
    color: $clr-blue;
    font-size: 24px;
}

.closet-column:first-child {
    margin-right: 20px;
}

.closet-img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 5px;
    margin-top: 50px;
    z-index: 1;
}

.img-container {
    display: flex;
}

.closet-icon {
    margin-top: 20%;
    height: 30px;
    padding: 20px;
}

.add-wrapper {
    margin-top: 80px;
    padding: 20px;
}

.add-button {
    text-decoration: none;
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
    color: $clr-white;
    background-color: $clr-blue;
}

.add-button:hover {
    color: $clr-sage;
}

.form {
    padding: 40px;
}

.form-input {
    margin-bottom: 2rem;
}

.rotator-next-img {
    height: 200px;
    border-radius: 10px;
    margin-top: 75px;
    margin-right: -100px;
    position: relative;
    right: 100px;
}

.rotator-prev-img {
    height: 200px;
    border-radius: 10px;
    margin-top: 75px;
    margin-left: -100px;
    position: relative;
    left: 100px;
}